<div class="main">
        <div class="parent">
                <img src="http://localhost:8060/images/<%= shoes.src %>" alt="" class="pro-img">
         </div>
   <div class="info">
       <h1><%= shoes.name %></h1>
       <p>رنگ: <%= shoes.color %></p>
       <p>جنس: <%= shoes.material %></p>
       <p>سایز: <%= shoes.size %></p>

   </div>
  
</div>